/******************************************************************************
	Global String Variables
******************************************************************************/

@jh-namespace: com-ibm-team-jazzhub;

/******************************************************************************
	Global Color Variables
******************************************************************************/

@jh-color-page-background: #747D85;
@jh-color-link: @jh-color-blue;
@jh-color-link-hover: #F47D64;
@jh-color-footer-background: #EDF1F4;
@jh-default-text: #26343F;

@jh-color-white: #ffffff;
@jh-color-blue: #00ADD0;
@jh-color-dark-grey: #333333;
@jh-color-very-light-grey: #E0E0E0;
@jh-color-smoky-black: #26343F;
@jh-separator-color: #B3B3B3;


/******************************************************************************
	Global Size Variables
******************************************************************************/

/* Widths & Heights */
@jh-min-width: 980px;
@jh-max-width: 1180px;

/* Base em value for margins/padding (16px base) */
@jh-base-em: 0.3125;
@jh-base-px: 16px;



/******************************************************************************
	Global Re-usable Classes
******************************************************************************/
.jh-border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

body {
  margin: 0;
  font: 100% Arial, sans-serif;
}


/******************************************************************************
	Common Styles
******************************************************************************/

.rela {
	position: relative;
}

.absl {
	position: absolute;
}

.fixed {
	position: fixed;
}

.f_left {
	float: left;
}

.f_right {
	float: right;
}

.stretch {
	min-height: 600px;
}

.@{jh-namespace} { /* com-ibm-team-jazzhub */
	min-height: 100%;
	background-color: @jh-color-page-background;
	color: @jh-default-text;
	margin: 0;
	padding: 0;
	z-index: 0;
	.jh-border-box;
}

	.@{jh-namespace} a {
	  color: @jh-color-link;
	  text-decoration: none;
	  &:hover {
	  	color: @jh-color-link-hover;
	  	text-decoration: underline;
	  }
	}

	.@{jh-namespace} .fixed-content,
	.@{jh-namespace} .fixed-content *,
	.@{jh-namespace} .fluid-content,
	.@{jh-namespace} .fluid-content * {
		.jh-border-box;
	}

	.@{jh-namespace} .fixed-content {
		width: @jh-min-width;
		margin: 0 auto;
		padding: 15px;
		.stretch;		
	}

	.@{jh-namespace} .fluid-content {
		min-width: @jh-min-width;
		max-width: @jh-max-width;
		margin: 0 auto;
		.stretch;
	}
	
	@{jh-namespace} .content-box {
		padding: 0 15px;
	}
	
	.@{jh-namespace} .footer,
	.@{jh-namespace} .footer * {
		background-color: @jh-color-footer-background;
		font-size: 10.5pt;
	}
	
	.@{jh-namespace} .footer {
		overflow: hidden;
		.jh-border-box;
		padding: 0 20px 0 20px;
		height: 80px;
		color: @jh-color-smoky-black;
		.left {
			.f_left;
			margin: 23px 0 0 0; 
		};
		.right {
			.f_right;
			margin: 16px 0 0 0;
		};
		.center {
			width: 450px;
			margin: 0 auto;
			.content-links-area {
				margin: 30px 0 0 0;
				overflow: hidden;
				.text-links {
					.f_left;
					text-align: center;
					.separator {
						width: 1px;
						height: 20px;
						margin: 0 1.25em;
						display: inline-block;
						vertical-align: bottom;
					}
				}
				.twitter-site {
					.f_left;
					overflow:hidden;
					margin: 1px 1.25em 0 1.25em;
				}
				.facebook-site {
					.f_left;
					margin: 1px 0 0 0;
				}
			}
		};
		.browser-support {
			text-align: center;
			margin: 5px 0 0 0;		
		}
	}
	

/******************************************************************************
	JazzHub Columns
******************************************************************************/

@jh-number-of-columns: 12;

.@{jh-namespace} .jh-columns {
	width: 100%;
	overflow: hidden;
	.rela;
}

.generate-jh-cols(@jh-number-of-columns);

.generate-jh-cols(@n, @i: 1) when (@i =< @n) {
	.@{jh-namespace} .jh-columns > .jh-col-12-@{i} {
		.f_left;
		width: round((@i * (100% / @jh-number-of-columns)), 2);
	}

	.generate-jh-cols(@n, (@i + 1));
}

/******************************************************************************
	 Re-usable margins and padding
	 Syntax:
	 	m/p : margin/padding
	 	t/l/b/r/v/h/a : top/left/bottom/right/vert/horizontal/all
	 	n/xs/s/m/l/xl: 0, 5, 10, 20, 40, 60 pixels (equivalents of ems below)
	 Example:
		class="heading mtxl mbl"
			Top margin of 3.75em (60px)
			Bottom margin of 2.5em (40px)
******************************************************************************/

//Base em value is @jh-base-em
//@size-list and @em-multipliers must be of equal length

//TODO needs directions for a and v
@size-list: n, xs, s, m, l, xl, xxl;
@em-multipliers: 0, 1, 2, 4, 8, 12, 16;

.generateMarginsAndPadding(7);
.generateMarginsAndPadding(@n, @i: 1) when (@i < @n) {
	.doGenerateMarginsAndPadding(t, top, extract(@size-list, @i), extract(@em-multipliers, @i));
	.doGenerateMarginsAndPadding(b, bottom, extract(@size-list, @i), extract(@em-multipliers, @i));
	.doGenerateMarginsAndPadding(l, left, extract(@size-list, @i), extract(@em-multipliers, @i));
	.doGenerateMarginsAndPadding(r, right, extract(@size-list, @i), extract(@em-multipliers, @i));
	.generateMarginsAndPadding(@n, @i + 1);
}

.doGenerateMarginsAndPadding(@direction, @fulldirection, @size-name, @multiplier) {
	.m@{direction}@{size-name} {
		margin-@{fulldirection}: @multiplier * @jh-base-em * 1em;
	}
	.p@{direction}@{size-name} {
		padding-@{fulldirection}: @multiplier * @jh-base-em * 1em;
	}
}


/******************************************************************************
	extract Mode (FAQ page as example)
	Adds the proper margins and padding to heading and paragraph tags
******************************************************************************/


.@{jh-namespace} .jh-docmode h1,
.@{jh-namespace} .jh-docmode h2,
.@{jh-namespace} .jh-docmode h3,
.@{jh-namespace} .jh-docmode h4,
.@{jh-namespace} .jh-docmode h5,
.@{jh-namespace} .jh-docmode h6 {
	.mtm;
	.mbm;
	font-weight: normal;
}

.jh-docmode h1:nth-of-type(1) {
	.mtm; // First heading1 on page (title)
	.mbs;
}

.@{jh-namespace} .jh-docmode p {
	.mtm;
	.mbm;
	line-height: 1.4em;
}

.@{jh-namespace} .jh-docmode ul {
	.mtm;
	.mbm;
	li {
		margin: (@jh-base-em*2em) 0;
	}
}

.jh-docmode hr {
	.mtn;
	.mbn;
	border: none;
	border-top: 1px solid @jh-color-very-light-grey;
}

.jh-docmode ol
.jh-docmode table {
	margin: (@jh-base-em * 2em) 0;
}

.jh-docmode img {
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	max-width: 950px;	
	border: 1px solid @jh-color-very-light-grey;
	padding: @jh-base-em*1em;
	margin: (@jh-base-em*8em) auto;	
}

.jh-docmode iframe {
	display: block;
	margin: 2.5em auto;
}

#navbar {
	margin: 0;
	padding: 0;
}

.-jazzhub-navbar > .button {
	line-height: 50px;
}

/******************************************************************************
	Landing Styles
******************************************************************************/

.@{jh-namespace}-Docs {
	background-color: @jh-color-white;
}

.tutorial-landing {

	.landing-header {
		width: 100%;
		height: 200px;
		background-color: @jh-color-blue;

		background: #00add0; /* Old browsers */
		background: -moz-linear-gradient(top,  #00add0 96%, #00a0c1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(96%,#00add0), color-stop(100%,#00a0c1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #00add0 96%,#00a0c1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #00add0 96%,#00a0c1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #00add0 96%,#00a0c1 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #00add0 96%,#00a0c1 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00add0', endColorstr='#00a0c1',GradientType=0 ); /* IE6-9 */



		.landing-header-body {

			.landing-title {
				color: @jh-color-white;
				padding-top: 80px;

				h1 {
					margin: 0;
					font-weight: normal;
				}
			}

			.landing-intro {
				color: @jh-color-white;
			}

			.landing-header-right {

				position: relative;

				.table-of-contents {
					background-color: #0abce0;
					width: 200px;
					height: 200px;
					position: absolute;
					right: 0;
					bottom: 0;
					z-index: 200;

				}

			}

		}

	}

	.tutorial-section {
		.mtm;
	}
}

.tutorial-section {
	
	.mbl;

	.tutorial-section-header {
		border-bottom: 1px solid @jh-color-very-light-grey;
		overflow: hidden;
		.mbs;

		.section-title {
			.f_left;

			h2 {
				margin: 0;
				padding: 0;
				.mtxs;
				.mbxs;
				font-weight: normal;
			}

			a {
				color: #333333;
			}
		}

		.back-to-top {
			.f_right;
			line-height: 2.8em;
			display: none; /* Going into hiding */
		}
	}

	.tutorial-section-body {

		.tutorial-section-description {
			font-size: 0.9rem;
			color: @jh-color-page-background;
			line-height: 1.4em;
		}

		.tutorial-section-list {
			ul {
				margin: 0;
				.mtxs;
				list-style-type: none; /*Temp */
				.mln; /*Temp */
				.pln; /*Temp */

				li {
					font-size: 1rem;
					line-height: 1.4em;
					.mln; /*Temp */
					.pln; /*Temp */
				}
			}
		}
	}
}

/* For internet explorer. */
a img {
	border: 0px;
}

/* For help/faq page. */
.google-chrome {
	background-color: #fde907;
	width: 24%;
	text-align: center;
}

.mozilla-firefox {
	background-color: #fd9d07;
	width: 24%;
	text-align: center;
}

.microsoft-ie {
	background-color: #00ccff;
	width: 24%;
	text-align: center;
}

.apple-safari{
	background-color: #008ee4;
	width: 24%;
	text-align: center;
}


/** CSS for rendering code using the markdown syntax **/

pre, code, tt {
	font-size: 14px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code, tt {
	margin: 0 0px;
	padding: 0px 0px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

pre>code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

pre code, pre tt {
	background-color: transparent;
	border: none;
}



/** CSS for rendering tables using markedown syntax **/

table
{
  font-size: 14px;
	border-collapse:collapse;
	margin:20px 0 0;
	padding:0;
}

table tr
{
	border-top:1px solid #ccc;
	background-color:#fff;
	margin:0;
	padding:0;
}

table tr:nth-child(2n)
{
	background-color:#f8f8f8;
}
table tr th[align="center"], table tr td[align="center"] {
	text-align:center;
}
table tr th, table tr td
{
	border:1px solid #ccc;
	text-align:left;
	margin:0;
	padding:6px 13px;
	word-wrap: break-word;
}



/** CSS for the 404 error page **/

a:link, a:visited {
	color: #00649D;
	text-decoration: none;	
}

a:hover {
	color: #05386b;
	text-decoration: none;	
}

.page_wrapper {
	width: 100%;
	position: relative;
	padding-top: 110px;
}

.unavailable .box_wrapper {
	width: 625px;
	padding: 50px;
	background-color: #eeeeee;
	margin: 0 auto;
}

	.unavailable .box_wrapper .title_wrapper {
		overflow: hidden;
		border-bottom: 1px dotted #333;
		padding-bottom: 20px;
		position: relative;
	}

		.unavailable .box_wrapper .title_wrapper .warning_title {
			float: left;
			font-size: 32px;
			line-height: 35px;
			padding-left: 55px;
		}

		.unavailable .box_wrapper .title_wrapper .warning_title .warning_image {
			position: absolute;
			left: 0;
			top: 0;
		}

	.unavailable .box_wrapper .message {
		margin-top: 20px;
	}

	.unavailable .box_wrapper .more_info {
		margin-top: 35px;
	}

	.unavailable .box_wrapper .jazzhub_id {
		margin-top: 35px;
	}
