/******************************************************************************
	Global String Variables
******************************************************************************/

@jh-namespace: com-ibm-team-jazzhub;

/******************************************************************************
	Global Color Variables
******************************************************************************/

/*** Bluemix Look and feel color palette ***/
/* from Manage JazzHubCommonStyles.less */

/*Basics */
@color-black: #000000;
@color-white: #ffffff;
@color-dark-page-background: #152934;
@color-dark-content-background: #253b46;
@color-dark-darker-content-background: #111f2a;
@color-dark-font: #82a3ab;
@color-dark-link: #82a3ab;

/* Accents */
@color-accent-one: #27ada5; /* Teal */
@color-accent-two: #60b3ff; /* Blue */

/* Tiles */
@color-tile-background: #ffffff;
@color-tile-link: #00b4a0;
@color-tile-footer-background: #e9f1f4;
@color-tile-footer-border: #d0d9de; 
@color-tile-font: #747e83;

@color-darktile-background: @color-dark-darker-content-background;
@color-darktile-border: @color-accent-two;
@color-darktile-font: @color-accent-two;

/* Sidebar */
@color-sidebar-dark-background: #152934;
@color-sidebar-highlight: @color-dark-darker-content-background;
@color-sidebar-accent: @color-accent-one;
@color-sidebar-right-arrow: #DFE6EB;

/* Buttons */
@color-button-background: transparent;
@color-button-border: #959595;
@color-button-font: #959595;
@color-button-hover-background: #4de9d7;
@color-button-hover-border: #4de9d7;
@color-button-hover-font: #152934;

/*** Color Palette ***/

@jh-color-page-background: #747D85;

@jh-default-text: #26343F;
@jh-color-link: @jh-color-blue;
@jh-color-link-hover: #F47D64;

@jh-color-footer-dark-background: #111f2a;
@jh-color-footer-light-background: #3B4B54;
@jh-color-footer-link: rgba(255, 255, 255, 0.4);
@jh-color-footer-link-hover: #ffffff;
@jh-color-white: #ffffff;
@jh-color-blue: #00ADD0;
@jh-color-dark-grey: #333333;
@jh-color-very-light-grey: #E0E0E0;
@jh-color-smoky-black: #26343F;
@jh-separator-color: #B3B3B3;


/******************************************************************************
	Global Size Variables
******************************************************************************/

/* Widths & Heights */
@jh-min-width: 980px;
@jh-max-width: 1180px;

/* Base em value for margins/padding (16px base) */
@jh-base-em: 0.3125;
@jh-base-px: 16px;



/******************************************************************************
	Global Re-usable Classes
******************************************************************************/
.jh-border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

html {
	font-size: 16px;
}

body {
  margin: 0;
  font: 100% "Helvetica Neue",Helvetica, Arial, sans-serif;
}

/******************************************************************************
	Common Styles
******************************************************************************/

.rela {
	position: relative;
}

.absl {
	position: absolute;
}

.fixed {
	position: fixed;
}

.f_left {
	float: left;
}

.f_right {
	float: right;
}
.stretch {
	min-height: 600px;
}

.hide-overflow {
	overflow: hidden;
}

.@{jh-namespace} { /* com-ibm-team-jazzhub */
	min-height: 100%;
	background-color: @jh-color-page-background;
	color: @jh-default-text;
	margin: 0;
	padding: 0;
	z-index: 0;
	.jh-border-box;
	overflow: hidden;
}

	.@{jh-namespace} a {
	  color: @jh-color-link;
	  text-decoration: none;
	  &:hover {
	  	color: @jh-color-link-hover;
	  	text-decoration: underline;
	  }
	}

	.@{jh-namespace} .fixed-content,
	.@{jh-namespace} .fixed-content *,
	.@{jh-namespace} .fluid-content,
	.@{jh-namespace} .fluid-content * {
		.jh-border-box;
	}

	.@{jh-namespace} .fixed-content {
		width: @jh-min-width;
		margin: 0 auto;
		padding: 15px;
		.stretch;		
	}

	.@{jh-namespace} .fluid-content {
		min-width: @jh-min-width;
		max-width: @jh-max-width;
		margin: 0 auto;
		.stretch;
	}
	
	@{jh-namespace} .content-box {
		padding: 0 15px;
	}


.@{jh-namespace}-Docs {
	background-color: @jh-color-white;
}

img {
	margin: 0 auto;
}

/* For internet explorer. */
a img {
	border: 0px;
}

/******************************************************************************
	JazzHub Columns
******************************************************************************/

@jh-number-of-columns: 12;

.@{jh-namespace} .jh-columns {
	width: inherit;
	overflow: hidden;
	.rela;
}

.generate-jh-cols(@jh-number-of-columns);

.generate-jh-cols(@n, @i: 1) when (@i =< @n) {
	.@{jh-namespace} .jh-columns > .jh-col-12-@{i} {
		.f_left;
		width: round((@i * (100vh / @jh-number-of-columns)), 2);
	}

	.generate-jh-cols(@n, (@i + 1));
}

/******************************************************************************
	 Re-usable margins and padding
	 Syntax:
	 	m/p : margin/padding
	 	t/l/b/r/v/h/a : top/left/bottom/right/vert/horizontal/all
	 	n/xs/s/m/l/xl: 0, 5, 10, 20, 40, 60 pixels (equivalents of ems below)
	 Example:
		class="heading mtxl mbl"
			Top margin of 3.75em (60px)
			Bottom margin of 2.5em (40px)
******************************************************************************/

//Base em value is @jh-base-em
//@size-list and @em-multipliers must be of equal length

//TODO needs directions for a and v
@size-list: n, xs, s, m, l, xl, xxl;
@em-multipliers: 0, 1, 2, 4, 8, 12, 16;

.generateMarginsAndPadding(7);
.generateMarginsAndPadding(@n, @i: 1) when (@i < @n) {
	.doGenerateMarginsAndPadding(t, top, extract(@size-list, @i), extract(@em-multipliers, @i));
	.doGenerateMarginsAndPadding(b, bottom, extract(@size-list, @i), extract(@em-multipliers, @i));
	.doGenerateMarginsAndPadding(l, left, extract(@size-list, @i), extract(@em-multipliers, @i));
	.doGenerateMarginsAndPadding(r, right, extract(@size-list, @i), extract(@em-multipliers, @i));
	.generateMarginsAndPadding(@n, @i + 1);
}

.doGenerateMarginsAndPadding(@direction, @fulldirection, @size-name, @multiplier) {
	.m@{direction}@{size-name} {
		margin-@{fulldirection}: @multiplier * @jh-base-em * 1em;
	}
	.p@{direction}@{size-name} {
		padding-@{fulldirection}: @multiplier * @jh-base-em * 1em;
	}
}


/******************************************************************************
	extract Mode (FAQ page as example)
	Adds the proper margins and padding to heading and paragraph tags
******************************************************************************/


.@{jh-namespace} .jh-docmode h1,
.@{jh-namespace} .jh-docmode h2,
.@{jh-namespace} .jh-docmode h3,
.@{jh-namespace} .jh-docmode h4,
.@{jh-namespace} .jh-docmode h5,
.@{jh-namespace} .jh-docmode h6 {
	.mtm;
	.mbm;
	font-weight: normal;
}

.jh-docmode h1:nth-of-type(1) {
	.mtxs; // First heading1 on page (title)
	.mbs;
}

.@{jh-namespace} .jh-docmode p {
	.mtm;
	.mbm;
	line-height: 1.4em;
}

.@{jh-namespace} .jh-docmode ul {
	.mtm;
	.mbm;
	li {
		margin: (@jh-base-em*2em) 0;
	}
}

.jh-docmode hr {
	.mtn;
	.mbn;
	border: none;
	border-top: 1px solid @jh-color-very-light-grey;
}

.jh-docmode ol
.jh-docmode table {
	margin: (@jh-base-em * 2em) 0;
}

.jh-docmode img {
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	max-width: 950px;	
	border: 1px solid @jh-color-very-light-grey;
	padding: @jh-base-em*1em;
	margin: (@jh-base-em*8em) auto;	
}

.jh-docmode iframe {
	display: block;
	margin: 2.5em auto;
}

#navbar {
	margin: 0;
	padding: 0;
}

.-jazzhub-navbar > .button {
	line-height: 50px;
}

/*********************************************************************

						TABLE OF CONTENTS

**********************************************************************

1.0 CSS for markdown pages

	1.1 Help FAQ Page Markdown pages
	1.2 CSS for codeblocks on Markdown pages
	1.3 CSS for tables on Markdown pages

2.0 Error Messages
	2.1 404 Page
	2.2 Maintenace outage notification

3.0 Left-Nav / Sidebar
	3.1 Fixed Sidebar - Fluid Content container
	3.1.1 Navigation For Fixed Sidebar and full sidebar
	3.1.2 Full-Width sidebar container sizes

4.0 Docs Landing Page

	4.1 Featured Docs Section
		4.1.1 Hex tile icons
		4.1.2 Hex icons positions
		4.1.3 Hexagons hover behaviour

	4.2 Key Resources Section
		4.2.1 Key Resources Icons
		4.2.2 Key Resources Subpages
		4.2.3 Key Resources Hover

	4.3 Topics Section
		4.3.1 All Docs Button
		4.3.2 Topics Icons
		4.3.3 Topics Subpages
		4.3.4 Topics Hover behaviou

	4.4 Breadcrumb CSS

5.0 Footer

6.0 Machine Translation Widget

**********************************************************************
*********************************************************************/


/*******************************************************************
1.0 CSS for markdown pages
*******************************************************************/

/*******************1.1 For help/faq page ************************/
.google-chrome {
	background-color: #fde907;
	width: 24%;
	text-align: center;
}

.mozilla-firefox {
	background-color: #fd9d07;
	width: 24%;
	text-align: center;
}

.microsoft-ie {
	background-color: #00ccff;
	width: 24%;
	text-align: center;
}

.apple-safari{
	background-color: #008ee4;
	width: 24%;
	text-align: center;
}


/******************* 1.2 CSS for Codeblocks *********************/
pre, code, tt {
	font-size: 14px;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	color:  #26343F;
}

code, tt {
	margin: 0 0px;
	padding: 0px 0px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

pre>code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

pre code, pre tt {
	background-color: transparent;
	border: none;
}

h1.help {
		padding: 50px 8px 7px 8px;
		height: 46px;
		width: 46px;
		background-image: url(../images/docs/project-46.png);
		background-repeat: none;
		color:@jh-color-blue;
	}
/***************** 1.3 CSS for rendering tables **************/

table
{
  font-size: 14px;
	border-collapse:collapse;
	margin:20px 0 0;
	padding:0;
}

table tr
{
	border-top:1px solid #94a3ab;
	background-color:#fff;
	margin:0;
	padding:0;
}
table th {
	background-color: #3b4b53;
	color: #dee6eb;
}
table th:empty {
	background-color: #ffffff;
	color: #26343F;
	display: none;
}
table tr:nth-child(2n)
{
	background-color:#eeeeee;
}
table tr th[align="center"], table tr td[align="center"] {
	text-align:center;
}
table tr th, table tr td
{
	border:1px solid #ccc;
	text-align:left;
	margin:0;
	padding:6px 13px;
	word-wrap: break-word;
}

/******************************************************************
 2.0 Error Messages
 ******************************************************************/

/*********************** 2.1 404 Page *****************************/

a:link, a:visited {
	color: #00649D;
	text-decoration: none;	
}

a:hover {
	color: #05386b;
	text-decoration: none;	
}

.page_wrapper {
	width: 100%;
	position: relative;
	padding-top: 110px;
}

.unavailable .box_wrapper {
	width: 625px;
	padding: 50px;
	background-color: #eeeeee;
	margin: 0 auto;
}

	.unavailable .box_wrapper .title_wrapper {
		overflow: hidden;
		border-bottom: 1px dotted #333;
		padding-bottom: 20px;
		position: relative;
	}

		.unavailable .box_wrapper .title_wrapper .warning_title {
			float: left;
			font-size: 32px;
			line-height: 35px;
			padding-left: 55px;
		}

		.unavailable .box_wrapper .title_wrapper .warning_title .warning_image {
			position: absolute;
			left: 0;
			top: 0;
		}

	.unavailable .box_wrapper .message {
		margin-top: 20px;
	}

	.unavailable .box_wrapper .more_info {
		margin-top: 35px;
	}

	.unavailable .box_wrapper .jazzhub_id {
		margin-top: 35px;
	}

/***** 2.2 Maintenance announcement outage message *****************/

 .hidden {
 	display: none;
 }
 
.announcement {
	min-height: 30px;
	background-color: #5bc0de;
	color: white;
	font-size: 0.813em;
	font-family: Arial, sans-serif;
	line-height: 1.15rem;
	text-align: center;
	min-width: 980px;
	overflow: hidden;
	width: 100%;	
}

.announcement > .message-container {
	padding: 0 50px 5px 6px;
}

.announcement > .message-container > .messageIcon {
	display: inline-block;	
	background-image: url("../images/info-white_20.png");
	background-repeat: no-repeat;
	background-position: 0 center;
	height: 20px;
	width: 20px;
	left: 0;
	top: 5px;
	margin-right: 5px;
	position: relative;
	padding: 0;
}

.announcement > .message-container > .messageSummary {
	display: inline;
	word-wrap: break-word;
	margin: 0;
	padding: 0;
}

/*******************************************************************
3.0 Left-Nav / Sidebar
*******************************************************************/

/* 3.1 Fixed Sidebar - Fluid Content container */

.jh-sidebar-content {
	padding-left: 186px;
	position: relative;
	min-height: 600px;

	.sidebar-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 166px;
	}
}

/* 3.1.1 Navigation For Fixed Sidebar and full sidebar */

.jh-sidebar-content,
.jh-sidebar-full-content {

	background-color: @color-sidebar-dark-background;

	.sidebar-container .nav .item {

		> a {
			display: inline-block;
			width: 100%;
			padding: 10px 10px 10px 40px;
			margin-bottom: 0px;
			line-height: 1.5em;
			font: 0.8em Arial;
			color: @color-white;
			border-left: 4px solid @color-sidebar-dark-background; /* to match width of selected */
		}

		> a:hover {
			text-decoration: none;
			background-color: @color-dark-darker-content-background;
		}

		&.selected > a {
			border-left: 4px solid @color-accent-one;
			background-color: @color-dark-darker-content-background;
		}

		& .item {
			margin-left: 1.1em;
		}

		.sidebar-icon {
			width: 20px;
			height: 20px;
			padding-right: 1.3em;
			vertical-align: middle;
		}

		.sidebar-icon-missing {
			.sidebar-icon;
			width: 36px;
			height: 20px;
			display: inline-block;
			visibility: hidden;
		}

		.sidebar-right-arrow {
			float: right;
			padding-right: 5px;
			color: @color-sidebar-right-arrow;
		}
	}
}

/* 3.1.2 Full-Width sidebar container sizes */

.jh-sidebar-full-content {
	padding-left: 278px;
	position: relative;
	min-height: 600px;

	.sidebar-container {
		position: absolute;
		left: 0; 
		top: 0; 
		width: 278px;
	}
}

/*******************************************************************
4.0 Docs Landing Page
*******************************************************************/

/***************** 4.1 Featured Docs Section **********************/

#featured-docs {
	background-color: #3b4b54;
	color: #ffffff;
}

	#doc-container-l {
		padding-left: 2.5em;
		padding-bottom: 8px;
		padding-top: 8px;
		padding-right: 4px;
	}

	#doc-container-r {
		padding-right: 2.5em;
		padding-bottom: 8px;
		padding-top: 8px;
		padding-left: 4px;
	}

	@media (min-width: 992px) {
		#col-offset {
		padding-top: 60px;
		}
	}

	@media (max-width: 992px){
		#doc-container-r, #doc-container-l {
			padding-left: 3.0em;
			padding-bottom: 18px;
			padding-top: 18px;
			padding-right: 3.0em;
		}
	}

	.hex-container {
		display: inline-block;
		padding: 0px;
	}

	.callout {
		padding: 15px;
		border: 0px solid transparent;
		border-radius: 15px;
		background-color: #26343f;
	}
	.callout > p {
		margin-bottom: 0px;
	}
	.description > strong {
		color: #fff;
		line-height: 1.4em;
	}

	.stem {
		padding:0px;
		margin-top:55px;
	}

	.stem hr:only-of-type {
		margin-top: 0px;
		margin-bottom: 0px;
		border: 4px solid #26343f;
		margin-left: -5px ;
		margin-right: -5px;
	}

	.hex {
		padding: 7px 8px 7px 8px;
		height: 118px;
		width: 136px;
		background-image: url(../images/docs/hexagons.png);
		background-repeat: none;
	}

	.title-name {
		text-align: center;
		color: #00aed1;
		font-weight: bold;
		font-size: 0.9rem;
	}
	.description {
		text-align: center;
		color: #ddd;
		font-size: 1rem;
	}

	/******************* 4.1.1 Hex tile icons *************************/

	.hex-tile-position {
		position: absolute;
		width: 120px;
		height: 104px;
		background-repeat: no-repeat;
		z-index: 1;
	}

	span.hex-builddeploy {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-builddeploy.png);
		
	}
	span.hex-bluemix {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-bm.png);
		
	}
	span.hex-eclipse {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-eclipse.png);
		
	}
	span.hex-java {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-java.png);
		
	}
	span.hex-jazzhub {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-jazzhub.png);
		
	}
	span.hex-mobile {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-mobile.png);
		
	}
	span.hex-node {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-node.png);
		
	}
	span.hex-trackplan {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-trackplan.png);
		
	}

	span.hex-git {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-git.png);
		
	}

	span.hex-new {
		.hex-tile-position;
		background-image: url(../images/docs/hexagons-new.png);
		
	}

	/******************* 4.1.2 Hex icons positions *************************/

	/***Note: The first image in sprite on the top left corner is pos-0.
	          pos-# increases as you move in the right direction.         */
	.pos-0 {
		background-position: 0px 0px;
	}
	.pos-1{
		background-position: -120px 0px
	}
	.pos-2{
		background-position: -240px 0px;
	}
	.pos-3{
		background-position: -360px 0px;
	}
	.pos-4{
		background-position: 0px -104px;
	}
	.pos-5{
		background-position: -120px -104px;
	}
	.pos-6{
		background-position: -240px -104px;
	}
	.pos-7{
		background-position: -360px -104px;
	}
	.pos-8{
		background-position: 0px -208px;
	}
	.pos-9{
		background-position: -120px -208px;
	}
	.pos-10{
		background-position: -240px -208px;
	}
	.pos-11 {
		background-position: -420px 0px;
	}

	/******************* 4.1.3 Hexagons hover behaviour *************************/

	a.section, a.section:hover {
	text-decoration: none;
	}
	a.section:hover .title-name {
			color: #F26C4F;
	}
	a.section:hover .description, a.section:hover .description > strong {
			color: #2a3a12;
	}
	a.section:hover .hex {
		height: 118px;
		width: 136px;
		background-image: url(../images/docs/hexagons.png);
		background-position: -136px 0px;
	}
	a.section:hover .callout {
		background-color: #dee6eb;
	}
	a.section:hover .stem hr:only-of-type{
		border: 4px solid #dee6eb;
	}

/***************** 4.1.4 tutorials and references twistie Section **********************/
	div.twistie {
	background-color:@jh-color-very-light-grey;
	}
	
	a.twistie {
	background-image: url(../images/docs/twistie.png);
	background-repeat: no-repeat;
	}

	div.t-right {
	padding: 6px;
	float: left;
	width:48%;
	}

	div.t-left {
	padding: 6px;
	float: right;
	width:48%;
	}

	a.t-left:link  a.t-right:link  {
			color: white; 
	}

/***************** 4.2 Key Resources Section **********************/

#key-resources {
	background-color: #ffffff;
}
	@media(max-width: 767px) {
		div#key-resources .xs-offset {
		padding-left: 30px;
		}
	}

	div#key-resources .col-center {
		margin: 0 auto;
	}

	/************ 4.2.1 Key Resources Icons ********************/

	div#key-resources .col-center {
		margin: 0 auto;
	}
	@media(min-width: 992px) {
		.resource-container {
			width: 20%;
		}
	}
	@media(max-width: 991px) {
		.resource-container{
			width: 25%;
		}
	}
	@media(max-width: 768px) {
		.resource-container {
			width: 33%;
		}
	}
	.resource-container {
		display: inline-block;
		padding: 10px;
		vertical-align: top;
	}

	.resource-img {
		height: 136px;
		width: 136px;
		overflow: hidden;
		border: 8px solid #26343f;
		border-radius: 8px;
	}

	.resource-sprite {
			float: none;
			position: relative;
			display: inline-block;
			height: 120px;
			width: 120px;
			background-image: url(../images/docs/resources-sprite.png);
			background-repeat: no-repeat;
			z-index: 1;
		}

	/***Note: Ensure that the class name for a key resource icon is same 
	          as the 'resource_name' entry in the config.json file.      */

	.resource-img > .learn {
			.resource-sprite;
			background-position: 0px 0px;
		}
	.resource-img > .whatsnew {
			.resource-sprite;
			background-position: -120px 0px;
		}
	.resource-img > .features {
			.resource-sprite;
			background-position: -240px 0px;
		}
	.resource-img > .faq {
			.resource-sprite;
			background-position: -360px 0px;
		}
	.resource-img > .support {
			.resource-sprite;
			background-position: -480px 0px;
		}
	.resource-img > .glossary {
			.resource-sprite;
			background-position: -600px 0px;
		}

	.resource-name {
		width: 132px;
		min-height: 75px;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
		color: #26343f;
	}

	/************ 4.2.2 Key Resources Subpages ********************/

	#resource-header {
		background-color: #03829e;
		color: #ffffff;
		padding: 15px 0px 15px 0px;
	}
		.resource-header-name {
			font-size: 2.0rem;
			font-weight: bold;
			margin-left: -1%;
		}
		
		div.resource {
			padding: 0px 90px 30px 90px;
		}
		.resource > a {
			color: #00aed1;
		}

		.resource > h2 {
			font-size: 1.6rem;
		}
		.resource > h3 {
			font-size: 1.3rem;
		}

		.resource > p {
			line-height: 1.4rem;
		}

		.resource > ul {
			.mtm;
			.mbm;
			li {
				margin: (@jh-base-em*2em) 0;
			}
		}

		.resource img {
			background-repeat: no-repeat;
			background-position: center center;
			display: block;
			max-width: 950px;
			border: 1px solid #E0E0E0;
			padding: 0.3125em;
			margin: 2.5em auto;
		}

	/************ 4.2.3 Key Resources Hover ********************/

	a.resource-section ,a.resource-section:hover {
	text-decoration: none;
	}
	
	a.resource-section:hover .resource-img {
		border: 8px solid #94A3AB;
		opacity: 1;
	}
	a.resource-section:hover .resource-name {
		text-decoration: none;
		color: #03829e;
	}

/***************** 3.x Quick Reference Section **********************/

	#quick-reference {
		background-color: #efefef;
	}
	@media(max-width:991px) {
		div#quick-reference  
		.xs-offset {
			padding-left: 30px;
		}
	}

	div#quick-reference
	  	.col-center {
			margin: 0 auto;
	}

	/************ 3.x.1 Quick Reference Icons ********************/

	div#quick-reference .col-center {
		margin: 0 auto;
	}
	@media(min-width: 992px) {
		.reference-container {
			width: 15%;
		}
	}
	@media(max-width: 991px) {
		.reference-container{
			width: 20%;
		}
	}
	@media(max-width: 768px) {
		.reference-container {
			width: 33%;
		}
	}
	.reference-container {
		display: inline-block;
		padding: 1px;
		vertical-align: top;
	}

	.reference-img {
		height:90px;
		width: 90px;
		overflow: hidden;
		border: 6px solid #777777;
		border-radius: 10px;
	}

	.reference-sprite {
			float: none;
			position: relative;
			display: inline-block;
			height: 102px;
			width: 102px;
			background-image: url(../images/docs/references-sprite.png);
			background-repeat: no-repeat;
			z-index: 1;
		}

	/***Note: Ensure that the class name for a key resource icon is same 
	          as the 'resource_name' entry in the config.json file.      */

	.reference-img > .accounts-qr {
		.reference-sprite;
		background-position: 0px 0px;
		}

	.reference-img > .build-deploy-qr {
			.reference-sprite;
			background-position: -82px 0px;
		}

	.reference-img > .git-qr {
			.reference-sprite;
			background-position: -180px 0px;
		}


	.reference-img > .ref-qr {
			.reference-sprite;
			background-position: -351px 0px;
		}

	.reference-name {
		width: 100%;
		text-align: center;
		padding: 15px;
		color: gray;
		word-wrap: break-word;
	}	
	

/************ 3.x.2 Quick Reference Subpages ********************/

	#reference-header {
		background-color:  #00b299;
		color: #ffffff;
		padding: 15px 0px 15px 0px;
	}
	.reference-header-name {
		font-size: 2.0rem;
		font-weight: bold;
		margin-left: -1%;
	}
		
	div.reference {
		padding: 0px 80px 30px 80px;
	}
	.reference > a {
		color: #00aed1;
		}

	.reference > h2 {
		font-size: 1.6rem;
		}
	.reference > h3 {
		font-size: 1.3rem;
		}

	.reference > h5 {
			margin-top: -1px;
			color: #94a3ab;
			font-size: .9rem;		
		}

	.reference > p {
		line-height: 1rem;
		}

	.reference > ul {
			.mtm;
			.mbm;
			li {
				margin: (@jh-base-em*2em) 0;
			}
		}

	.reference:warning_image img {
		background-repeat: no-repeat;
		background-position: center center;
		display: block;
			max-width: 950px;
			border: 1px solid #E0E0E0;
			padding: 0.3125em;
			margin: 2.5em auto;
		}
	/************ 3.x.3 Quick Reference Hover ********************/

	a.reference-section ,a.reference-section:hover {
	text-decoration: none;
	}
	
	a.reference-section:hover .reference-img {
		border: 6px solid #94A3AB;
		opacity: 1;
	}
	a.reference-section:hover .reference-name {
		text-decoration: none;
		color: #03829e;
	}
	
	
/***************** 4.3 Topics Section **********************/

#topics {
	background-color: #94a3ab;
}
	/************* 4.3.1 All Docs Button **********************/
	a.btn-dark {
	background-color: #26343f;
	color: #dee6eb;
	text-decoration: none;
	}

	a.btn-dark:hover {
		background-color: #dee6eb;
		color: #2a3a12;
		text-decoration: none;
	}

	/************* 4.3.2 Topics Icons ************************/

	div#topics .col-center {
		margin: 0 auto;
	}

	@media(min-width: 992px) {
		.topic-container {
			width: 20%;
		}
	}
	@media(max-width: 991px) {
		.topic-container{
			width: 25%;
		}
	}
	@media(max-width: 768px) {
		.topic-container {
			width: 33%;
		}
	}

	.topic-container {
		display: inline-block;
		min-height: 215px;
		padding: 10px;
		vertical-align: top;
	}

	.topic-img {
		height: 136px;
		width: 136px;
		overflow: hidden;
		border: 8px solid #dee6eb;
		background-color: #dee6eb;
		border-radius: 50%;
	}

	.topic-name {
		width: 100%;
		text-align: center;
		padding: 10px;
		color: #1b252d;
		word-wrap: break-word;
	}

	.topic-sprite {
			float: none;
			position: relative;
			height: 120px;
			width: 120px;
			background-image: url(../images/docs/circle-sprites-alt.png);
			background-repeat: no-repeat;
			display: inline-block;
		}

	/***Note: Ensure that the class name for a key resource icon is same 
	          as the 'topic_name' entry in the config.json file.      */

	.topic-img > .nodejs {
			.topic-sprite;
			background-position: 0px 0px;
		}
	.topic-img > .java {
			.topic-sprite;
			background-position: 0px -120px;
		}
	.topic-img > .mobile {
			.topic-sprite;
			background-position: 0px -240px;
		}
	.topic-img > .trackplan {
			.topic-sprite;
			background-position: 0px -360px;
		}
	.topic-img > .bluemix {
			.topic-sprite;
			background-position: 0px -480px;
		}
	.topic-img > .eclipse {
			.topic-sprite;
			background-position: 0px -600px;
		}
	.topic-img > .git {
			.topic-sprite;
			background-position: 0px -720px;
		}
	.topic-img > .jazz_scm {
			.topic-sprite;
			background-position: 0px -840px;
		}
	.topic-img > .academics {
			.topic-sprite;
			background-position: 0px -960px;
		}
	.topic-img > .build_deploy {
			.topic-sprite;
			background-position: 0px -1080px;
		}
	.topic-img > .python {
			.topic-sprite;
			background-position: 0px -1200px;
		}
	.topic-img > .all {
			.topic-sprite;
			background-position: 0px -1320px;
		}
	.topic-img > .hackathons {
			.topic-sprite;
			background-position: 0px -1440px;
		}


	.topic-img > .mongodb {
			.topic-sprite;
			background-position: 0px -1560px;
		}

	.topic-img > .account {
			.topic-sprite;
			background-position: 0px -1681px;
		}


	/************* 4.3.3 Topics Subpages *********************/

	#topic-header {
		background-color: #3b4b54;
		color: #ffffff;
		padding: 15px 0px 15px 0px;
	}
	.topic-header-name {
		font-size: 2.0rem;
		font-weight: bold;
		margin-left: -1%;
	}

	.vcenter {
		display: inline-block;
		vertical-align: middle;
		float: none;
	}


	div.topic {
			padding: 0px 90px 30px 90px;
		}
		.topic > a {
			color: #00aed1;
		}

		.topic > h2 {
			font-size: 1.6rem;
		}
		.topic > h3 {
			font-size: 1.3rem;
			margin-bottom: 5px;
		}
		.topic > h3+p {
			margin-top: 5px;
			color: #94a3ab;
		}

		.topic > p {
			line-height: 1.4rem;
		}

		.resource > ul {
			.mtm;
			.mbm;
			li {
				margin: (@jh-base-em*2em) 0;
			}
		}

		.topic img {
			background-repeat: no-repeat;
			background-position: center center;
			display: block;
			max-width: 950px;
			border: 1px solid #E0E0E0;
			padding: 0.3125em;
			margin: 2.5em auto;
		}

	/************* 4.3.4 Topics Hover behaviour ************/

	a.topic-section , a.topic-section:hover {
	text-decoration: none;
	}
	a.topic-section:hover .topic-img {
		border: 8px solid #26343f;
		background-color: #26343f;
		opacity: 0.9;
	}
	a.topic-section:hover .topic-name {
		text-decoration: none;
		color: #dee6eb;
	}

/************** 4.4 Breadcrumb CSS **************************/

	.breadcrumb {
		margin: 0px -15px 0 -15px;
		padding-left: 25px;
		font-size: 16px;
	}
	.breadcrumb li {
		display: inline;
		color: #1b252d;
	}
/**
	.breadcrumb li a {
		text-decoration: none;
		color: #1b252d;
	}
	.breadcrumb li a:hover{
		text-decoration: none;
		color: #F47D64;
	}
**/
	.breadcrumb li+li:before {
		content: ' > ';
		color: #94a3ab;
		padding-left: 12px;
		padding-right: 12px;
	}
	.breadcrumb .current {
		color: #94A3AB;
	}

/*******************************************************************
5.0 Footer
*******************************************************************/

.@{jh-namespace}-footer {
	font-size: 0.88889em;
	height: 100px;
	margin-bottom: -20px;
	margin-top: 0px;

	.content-links-area {
		height: 80px;
		background-color: @jh-color-footer-dark-background;

		.text-links {
			overflow: hidden;
			position: relative;
			top: 50%;
			transform: translateY(-50%);

			a {
				color: @jh-color-footer-link;
				text-decoration: none;
			}

			a:not(:last-child):after {
				content: " / ";
			}

			a:hover {
				text-decoration: none;
			}

			a:hover > span {
				color: @jh-color-footer-link-hover;
				text-decoration: underline;
			}
		}
	}

	.footer-bottom {
		overflow: hidden;
		height: 20px;
		background-color: @jh-color-footer-light-background;
		margin-bottom: -5px;
	}
}	

#browser-support {
	text-align: center;
	margin: 5px 0 0 0;
}

/*******************************************************************
6.0 Machine Translation Widget
*******************************************************************/

.translate-widget {
	width: 100%;
	.hide-overflow;
	text-align: right;
	.translate_label {
		font-weight: normal;
		font-size: 14px;
		line-height: 75px;
	}

	select {
		color: #333333;
	}
}

.translate-widget-container {
	background-color: #ffffff;

}
